/* font-family: 'Playfair Display', serif; */

body {
  color: #ccc;
  font: 14px/1.6 'Fauna One';
}
html {
  background:#010d26 url(/images/bg.png) repeat;
  height: 100%;
  width: 100%;
}
.landing-container {
  width: 720px;
  margin-top: 60px;
}
.landing-description {
  font-size: 11px;
  margin-top: 20px;
}
h2 {
  font: 18px/2.5 'Playfair Display';
  text-transform: uppercase;
  color: #eee;
  font-weight: bold;
  letter-spacing:3px;
}

.form {
  margin-bottom:30px;
}
.input {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #70859d;
  color: #eee;
  margin-bottom: 10px;
}
.label {
  color: #aaa;
}