/* font-family: 'Playfair Display', serif; */

body {
  font: 14px/1.6 'Fauna One';
}
html {height: 100%;}
.container { max-width:960px; }
.landing-body {
  background:#010d26 url(/images/bg.png) repeat;
  min-height:100vh;
  color: #ccc;
}
.landing-container {
  width: 720px;
  padding-top: 60px;
}
.landing-description {
  font-size: 11px;
  margin-top: 20px;
}
h2 {
  font: 18px/2.5 'Playfair Display';
  text-transform: uppercase;
  color: #eee;
  font-weight: bold;
  letter-spacing:3px;
}

.form {
  margin-bottom:30px;
}


.input {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #70859d;
  color: #eee;
  margin-bottom: 10px;
}
.label {
  color: #aaa;
}
/* source http://tobiasahlin.com/spinkit/ */
.spinner {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 120px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #010d26;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
